{{ define "main" }}

<article>
  <main>
    {{ range .Resources.ByType "image" }}
    {{ with . | images.Filter images.AutoOrient }}

    {{ with .Fit "1200x800"  }}
    <figure>
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
      <figcaption>{{ $.Description }}</figcaption>
    </figure>
    {{ end }}

    {{ with .Exif }}
    <ul class="metadata">
      {{ with .Date }}<li><img src="/icons/calendar.svg" width="24" height="24" alt="calendar" title="Date">{{ .Format "January 02, 2006" }}</li>{{ end }}
      {{ with .Tags.Model }}<li><img src="/icons/camera.svg" width="24" height="24" alt="camera" title="Camera">{{ . }}</li>{{ end }}
      {{ with .Tags.LensModel }}<li><img src="/icons/lens.svg" width="24" height="24" alt="circle" title="Lens">{{ . }}</li>{{ end }}
      {{ with .Tags.ExposureTime }}<li><img src="/icons/shutter-speed.svg" width="24" height="24" alt="shutter timer" title="Shutter Speed">{{ . }}s</li>{{ end }}
      {{ with .Tags.FNumber.Float64 }}<li><img src="/icons/aperture.svg" width="24" height="24" alt="aperture" title="F Number">f/{{ . }}</li>{{ end }}
      {{ with .Tags.FocalLength.Float64 }}<li><img src="/icons/ruler.svg" width="24" height="24" alt="ruler" title="Focal Length">{{ . }}mm</li>{{ end }}
      {{ with .Tags.ISOSpeedRatings }}<li><img src="/icons/iso.svg" width="24" height="24" alt="dot grid" title="ISO"><span>{{ . }}</span></li>{{ end }}
    </ul>
    {{ end }}

    {{ end }}
    {{ end }}
  </main>
</article>

{{- end }}
