<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if not .IsHome }}{{ with .Title}}{{ . }} | {{ end }}{{ end }}{{
    .Site.Title }}
  </title>
  <link rel="icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/style.css">
  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}
</head>

<body>
  <nav>
    <a href="/">Home</a>
    {{ range .Site.Sections }}
    <span>⋅</span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  </nav>
  <main>{{- block "main" . }}{{- end }}</main>
  <footer>
    <a href="/index.xml">RSS</a>
    <p>Copyright &copy; {{ time.Now.Year }} Undevised</p>
  </footer>
</body>

</html>
