:root {
  --text: #222222;
  --background: #fcf7f1;
  --primary: #73ac85;
  --secondary: #c1d6a8;
  --accent: #008080;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: auto;
  padding: 1rem;
  max-width: 100ch;
  color: var(--text);
  background-color: var(--background);
  overflow-wrap: break-word;
}

a {
  color: var(--accent);
  text-decoration: none;
}

nav {
  text-align: center;
}

li:not(:last-child) {
  margin-bottom: 0.25em;
}

details {
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--secondary);
}

summary {
  cursor: pointer;
}

details[open] summary {
  margin-bottom: 0.5em;
}

footer {
  margin-top: 3em;
  text-align: center;
}

img {
  max-width: 100%;
}

figure {
  margin: 1em 0;
  text-align: center;

  img {
    border: 8px solid white;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  figcaption {
    line-height: 2em;
  }
}

.metadata {
  list-style: none;

  li {
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
  }
}

.recipe-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid lightgrey;
    padding: 0 1em;
    margin-bottom: 1em;
  }
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  li {
    height: 20vh;
    flex-grow: 1;
    list-style: none;
  }

  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border: 2px solid white;
  }

  li:last-child {
    flex-grow: 0;
  }
}
