:root {
  --text: #222222;
  --background: #fdf6e3;
  --primary: #73ac85;
  --secondary: #c1d6a8;
  --accent: #008080;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: auto;
  padding: 1em .5em;
  max-width: 120ch;
  color: var(--text);
  background-color: var(--background);
  overflow-wrap: break-word;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  color: var(--accent);
  text-decoration: none;
}

nav {
  text-align: center;
}

li:not(:last-child) {
  margin-bottom: .25em;
}

details {
  padding: .5em;
  border-radius: .5em;
  background-color: var(--secondary);
}

summary {
  cursor: pointer;
}

details[open] summary {
  margin-bottom: .5em;
}

footer {
  margin-top: 3em;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 1em 0;
  text-align: center;

  figcaption {
    line-height: 2em;
  }
}

.metadata {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: fit-content;

  li {
    display: flex;
    align-items: flex-end;
    gap: .5em;
  }
}

.photo {
  border: 8px solid white;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 4px 8px;
}

.photo-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: .5em;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    padding: 0;
  }

  img {
    max-height: 320px;
    width: auto;
  }
}

.recipe-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid lightgrey;
    padding: 0 1em;
    margin-bottom: 1em;
  }
}